################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/AdeptusDicus/.vs
/AdeptusDicus/.vs/AdeptusDicus
/AdeptusDicus/.vs/AdeptusDicus/DesignTimeBuild
/AdeptusDicus/.vs/AdeptusDicus/DesignTimeBuild/.dtbcache.v2
/AdeptusDicus/.vs/AdeptusDicus/FileContentIndex
/AdeptusDicus/.vs/AdeptusDicus/FileContentIndex/4e2a089a-f869-4fcf-a4df-9b7c2dbe3842.vsidx
/AdeptusDicus/.vs/AdeptusDicus/FileContentIndex/89116897-472c-4f7d-a16f-ac2dd7688aaa.vsidx
/AdeptusDicus/.vs/AdeptusDicus/FileContentIndex/b11b896f-5555-4df1-a651-e792e1d8f0aa.vsidx
/AdeptusDicus/.vs/AdeptusDicus/FileContentIndex/c3e44fab-1c32-4f4e-981a-041c19bd5b7d.vsidx
/AdeptusDicus/.vs/AdeptusDicus/FileContentIndex/d16f5b30-35e5-4562-bf1a-6fdfac36bbac.vsidx
/AdeptusDicus/.vs/AdeptusDicus/v17
/AdeptusDicus/.vs/AdeptusDicus/v17/.futdcache.v2
/AdeptusDicus/.vs/AdeptusDicus/v17/.suo
/AdeptusDicus/.vs/AdeptusDicus/v17/DocumentLayout.backup.json
/AdeptusDicus/.vs/AdeptusDicus/v17/DocumentLayout.json
/AdeptusDicus/.vs/AdeptusDicus/v17/ResourceExplorer
/AdeptusDicus/.vs/AdeptusDicus/v17/ResourceExplorer/settings.json
/AdeptusDicus/.vs/ProjectEvaluation
/AdeptusDicus/.vs/ProjectEvaluation/adeptusdicus.metadata.v9.bin
/AdeptusDicus/.vs/ProjectEvaluation/adeptusdicus.projects.v9.bin
/AdeptusDicus/.vs/ProjectEvaluation/adeptusdicus.strings.v9.bin
/AdeptusDicus/bin/Debug/net8.0
/AdeptusDicus/bin/Debug/net8.0/AdeptusDicus.deps.json
/AdeptusDicus/bin/Debug/net8.0/AdeptusDicus.dll
/AdeptusDicus/bin/Debug/net8.0/AdeptusDicus.exe
/AdeptusDicus/bin/Debug/net8.0/AdeptusDicus.pdb
/AdeptusDicus/bin/Debug/net8.0/AdeptusDicus.runtimeconfig.json
/AdeptusDicus/bin/Debug/net8.0/Discord.Net.Commands.dll
/AdeptusDicus/bin/Debug/net8.0/Discord.Net.Core.dll
/AdeptusDicus/bin/Debug/net8.0/Discord.Net.Interactions.dll
/AdeptusDicus/bin/Debug/net8.0/Discord.Net.Rest.dll
/AdeptusDicus/bin/Debug/net8.0/Discord.Net.Webhook.dll
/AdeptusDicus/bin/Debug/net8.0/Discord.Net.WebSocket.dll
/AdeptusDicus/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/AdeptusDicus/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
/AdeptusDicus/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Binder.dll
/AdeptusDicus/bin/Debug/net8.0/Microsoft.Extensions.Configuration.dll
/AdeptusDicus/bin/Debug/net8.0/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
/AdeptusDicus/bin/Debug/net8.0/Microsoft.Extensions.Configuration.FileExtensions.dll
/AdeptusDicus/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Json.dll
/AdeptusDicus/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/AdeptusDicus/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
/AdeptusDicus/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Abstractions.dll
/AdeptusDicus/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Physical.dll
/AdeptusDicus/bin/Debug/net8.0/Microsoft.Extensions.FileSystemGlobbing.dll
/AdeptusDicus/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
/AdeptusDicus/bin/Debug/net8.0/Newtonsoft.Json.dll
/AdeptusDicus/bin/Debug/net8.0/System.Interactive.Async.dll
/AdeptusDicus/bin/Debug/net8.0/System.Linq.Async.dll
/AdeptusDicus/bin/Debug/net8.0/System.Reactive.dll
